<ol id="question-list">
<% @questions.each do |question| %>
 <%= erb :"questions/_questions", locals: {question: question} %>
<% end %>
</ol>
<% if logged_in? %>
  <div>
  <h3>Ask a question to the Babelflow community</h3>
  <form id = "question-post-form" action="/questions" method="POST">
    <label for="question-title">Title:</label>
    <input type="text" name="question[title]"/>
    <br>
    <label for="question-body">Body:</label>
    <textarea name="question[body]"></textarea>
      <input type="submit" value="Submit question">
    </form>
  </div>
<% end %>
