<div>
  <form action="/questions/<%= @question.id %>/comments" method="post">
    <label for="comment">Comment:</label>
    <input type="textfield" name="comment">
    <button>Comment</button>
  </form>
</div>
