.comment_button {
  text-align: right;
}

h1 {
  text-align: right;
  margin-right:120px;
  color: black;
}

p {
  text-align: center;
}

article > h3 {
  color: black;
}

.nav {
  color: white;
  position: fixed;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/

}

.container h1 {
  font-size: 17pt;

}

.nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

div.nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

div.nav li {
      float: left;
  }

div.nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

div.nav li a:hover {
      background-color: #111;
  }



.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: grey;
}

#logout {
     background:none;
     border:none;
     padding:0;
     font: inherit;
     color: white;
     /*border is optional*/
     margin-top:11px;
     cursor: pointer;
     padding: 3px;
}

#logout:hover{
    background-color: black;
}

.submit {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.submit:hover {
    background-color: grey;
}


.language-image {
  background: black url("http://static.wixstatic.com/media/5e66a609c8a24e869c590c538aac2641.jpg_srz_738_304_85_22_0.50_1.20_0.00_jpg_srz") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero {
  height: 80vh;
  max-height: 300px;
}

.hero-heading {
  font-size: 8em;
  color: white;
}

.flex {
  display: flex;
}

.flex-centered {
  align-items: center;
  justify-content: center;
}

.fancy-text {
  font-family: 'Lobster Two', cursive;
}

#upvote, #downvote {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: black;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

#downvote:hover {
  color: grey;
}

#downvote:focus {
  color: #0dbc3e;
}

#upvote:hover {
  color: grey;
}

#upvote:focus {
  color: #0dbc3e;
}

#score {
  margin-left: -200px;
  width: 130px;
  position: absolute;
}

#score-comment {
  vertical-align: right;
  right: -400px;
  top: -50px;
  width: 130px;
  position: relative;
}

.question-line {
  width: 120%;
  position: center;
}

.title {
  padding-bottom: 2px;
  border-bottom: solid 2px;
}

.show-answer {
  width: 300px;
}