h1 {
  text-align: right;
  margin-right:120px;
  color: black;
}

p {
  text-align: center;
}

h3 {
  color: white;
}

li {
  color: white;
}

.container {
  margin: 20px auto;
  margin-left: 100px;
  margin-bottom: 100px;
  width: 700px;
  height: 430px;
  padding: 0px 20px 20px 20px;
}

.container h1 {
  font-size: 17pt;

}

nav {
  width: 100%;
  height: 40px;
  font-weight: bold;
}

nav .brand, nav .brand a {
  margin-left: 25px;
  font-size: 18pt;
  text-decoration: none;
  color: #444;
  width: 60%;
  display: inline-block;
}

nav ul {
  display: inline-block;
  width: 30%;
  text-align: right;
}

nav li {
  margin-right: 25px;
  display: inline;
}

nav li a {
  color: gray;
  text-decoration: none;
}

nav li a:hover {
  text-decoration: underline;
}

form label {
  font-weight: bold;
  margin-right: 20px;
}

input {
  margin-bottom: 10px;
}

.errors {
  color: red;
}

form.quirks {
  display: inline-block;
}

.submit {
  text-align: center;
}

.label {
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: 20px;
  width: 200px;
}

div.nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
  }

div.nav li {
      float: left;
  }

div.nav li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
  }

div.nav li a:hover {
      background-color: #111;
  }



button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: grey;
}

#logout {
     background:none;
     border:none;
     padding:0;
     font: inherit;
     color: white;
     /*border is optional*/
     margin-top:11px;
     cursor: pointer;
     padding: 3px;
}

#logout:hover{
    background-color: black;
}

.submit {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.submit:hover {
    background-color: grey;
}
