<div>
  <form action="/questions/<%= @question.id %>/answers" method="post">
    <label for="comment">Answer:</label>
    <input type="textfield" name="body">
    <button>Answer!</button>
  </form>
</div>
