<li id="<%= answer.id %>" <%= if answer.best; "style='color: red'"; end %>><%= answer.body %> -<%= answer.responder.username %>
</li>
<br>
<button class="button" "comment_button"="">Comment</button>
<br>
<hr>
<br>
