<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <title></title>
</head>
<body>
<div class="nav">
  <ul>
  <li><a class="active" href="/questions">View all questions</a></li>
  <% if logged_in?%>
  <div class="logged_in_nav">
    <li>
      <form action="/sessions" class="logout" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input id="logout" type="submit" value="logout">
      </form>
    </li>
    <li><a href="/users/<%=current_user.id%>">View your questions</a></li>
  </div>
  <%else%>
  <div class="not_logged_in_nav">
    <li><a href="/users/new">Register</a></li>
    <li><a href="/sessions/new">Login</a></li>
  </div>
  <%end%>
  </ul>
</div>
 <header class="hero language-image flex flex-centered">
    <h1 class="hero-heading fancy-text">Babelflow</h1>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>


